#bigk {
  background-color: gray;
  margin: 0px 0px 0px 0px;
  padding: 10px; }

#list {
  background-color: #ccc;
  margin: 10px 10px 0px 10px;
  padding: 1px; }

.theposts {
  background-color: white;
  margin: 10px 10px 10px 10px;
  padding: 1px; }
